.img {
    width: 18.8vw;
    display: block;
   margin-left: auto;
   margin-right: auto;
}

.slider {
      width: 100%;
}

.texte {
    text-align: justify;
}

.carousel-caption {
    font-size: 2vw;
}

@media screen and (max-width: 767px) {
    section {
        padding-bottom: 110px;
        display: block;
        margin: auto;
    }

.img {
    width: 39vw;
}

.les_images {
    padding-top: 30px;
}

}
