@font-face {
    font-family: 'cac_champagneregular';
    src: url('../cac_champagne-webfont.eot');
    src: url('../cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../cac_champagne-webfont.woff2') format('woff2'),
         url('../cac_champagne-webfont.woff') format('woff'),
         url('../cac_champagne-webfont.ttf') format('truetype'),
         url('../cac_champagne-webfont.svg#cac_champagneregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h2 {
  text-align: center;
}

h3 {
  color: #fba858;
}

/*Tableau*/

.table {
  background: url("../pictures/table.jpg");
  background-size: cover;
  margin: auto;
}

.postit{
  width: 100%;
  margin-top: 30px;
  max-width: 100%;
  height: auto;
  position: relative;
}


.table p {
  font-family: 'cac_champagneregular';
  z-index: 1;
  position: absolute;
  top: 30%;
  left: 20%;
  right: 25%;
  font-size: 40px;
  text-align: center;
  transform: rotate(-8deg);
}

 /* --------Mode mobile------- */
 
 @media only screen and (max-width: 992px) {
   .table {
     background: none;
   }
 }
