/*Titres*/

h2 {
    text-align: center;
}

h3 {
    color: #fba858;
}

/*Images*/

.calendar {
    height: 130px;
}

.photo {
    width: 150px;
}


/*Version mobile page Evenements*/

@media screen and (max-width: 767px) {
    body {
        padding-top: 30px;
    }
    section {
        display: block;
        margin: auto;
        width: 80%;
        text-align: center;
    }
}
