html {
    postion: relative;
}

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 75px;
}

/*Titres*/

h2 {
    text-align: center;
}

h3 {
    color: #fba858;
}

/*Images*/

.calendar {
    height: 130px;
}

.photo {
    width: 150px;
}

/* Header */

.logo {
    width: 80px;
    margin-top: -10px;
}

.navbar {
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
    color: #fba858;
    height: 90px;
    padding-top: 35px;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #eeeeee;
}

@media only screen and (max-width: 767px) {
    .logo {
        width: 40px;
        margin-top: -7px;
    }
    .navbar-default .navbar-nav>li>a {
        height: 60px;
        padding-top: 20px;
    }
}

/*Version mobile page Evenements*/

@media screen and (max-width: 767px) {
    body {
        padding-top: 30px;
    }
    section {
        display: block;
        margin: auto;
        width: 80%;
        text-align: center;
    }
 footer p {
        text-align: justify;
    }
}

/*Footer*/

footer {
    position: absolute;
    padding-bottom: 0px;
    width: 100%;
    height: 140px;
    background: #35383a;
    text-align: center;
}

.footerLogo {
    padding-top: 20px;
    width: 100px;
}

footer p {
    color: white;
}

.icon {
    padding-top: 20px;
}

.mentionsLegales {
    font-size: 10px;
    color: grey;
}

/*Icons réseaux sociaux*/

footer i {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
}

footer i:hover {
    color: #fba858;
}

/*Footer version mobile*/

@media only screen and (max-width: 767px) {
    footer {
        height: 280px;
    }
    p {
        text-align: center;
    }
}
