body {
  position: relative;
  padding-top: 110px;
  font-family: 'Roboto', sans-serif;

}
/* Header */
.logo {
  width: 80px;
  margin-top: -7px;
}

.navbar {
  font-size: 20px;
}

.navbar-default .navbar-nav>li>a {
  color: #fba858;
  height:90px;
  padding-top:35px;
}

.navbar-default .navbar-nav>li>a:hover {
  background-color: #eeeeee;
}

 
h2 {
  text-align: center;
}
 
h3 {
  color: #fba858;
}
 
footer {
  position: absolute;
  padding-bottom: 0;
  width: 100%;
  height: 75px;
  background: #35383a;
  text-align: center;
}
 
i {
  margin-top: 25px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
}
 
i:hover {
  color: #fba858;
}

/*Tableau*/

.table {
  background: url("table.jpg");
  background-size: cover;
  height: auto;

}

.post {
  background: url("post_jaune.png");
  background-size: cover;
  height: 300px;
  margin-top: 80px;
  text-align: center;
}

.post2 {
  background: url("post_bleu.png");
  background-size: cover;
  height: 300px;
  margin-top: 50px;
  text-align: center;
}

p {
  margin-top: 5vh;
  font-size: 2.5em;
  transform: rotate(-8deg);
}

 /* --------Mode mobile------- */

 @media only screen and (max-width: 767px) {
  .logo {
    width: 40px;
    margin-top: -7px;
  }

  .navbar-default .navbar-nav>li>a {
    height:60px;
    padding-top:20px;
  }

  .table {
    background: none;
  }
}
